<ol class="breadcrumb">
    <li><a ng-href="#/">{{'termed' | translate}}</a></li>
    <li class="active">
        {{graph.properties.prefLabel | localizeValue}}
    </li>
</ol>

<div class="row">
    <div class="col-xs-6">
        <div class="btn-group" role="group">
            <div class="btn-group">
                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="add-menu"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{'addNew' | translate | capitalize}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="add-menu">
                    <li ng-repeat="cls in types">
                        <a ng-click="newNode(cls)">
                            {{cls.properties.prefLabel | localizeValue}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-6 text-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="export-menu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-download-alt"></span>
                {{'download' | translate | capitalize}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="export-menu">
                <li><a ng-href="api/graphs/{{graph.id}}/nodes?max=-1"
                       type="application/json">JSON</a></li>
            </ul>
        </div>
    </div>
</div>

<h1 class="page-header">
    {{graph.properties.prefLabel | localizeValue}}
</h1>

<div class="text-muted" style="margin:-18px 0 18px">
    <small>{{graph.uri || '-'}}</small>
</div>

<div class="input-group input-group-sm">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <input class="form-control" ng-model="query"
           ng-change="searchNodes(query)" ng-model-options="{debounce: 50}"
           placeholder="{{'searchNodes' | translate | capitalize}}"
           type="text">
</div>
<br>
<table class="table">
    <thead>
    <tr>
        <th>{{'label' | translate | capitalize}}</th>
        <th width="20%">{{'code' | translate | capitalize}}</th>
        <th width="20%">{{'type' | translate | capitalize}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="node in nodes">
        <td>
            <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}">
                {{node.properties.prefLabel | localizeValue}}
            </a>
        </td>
        <td>
            <small>
                <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}"
                   class="text-muted">
                    {{node.code}}
                </a>
            </small>
        </td>
        <td>
            <small>
                <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}"
                   class="text-muted">
                    {{typeById(node.type.id).properties.prefLabel | localizeValue}}
                </a>
            </small>
        </td>
    </tr>
    </tbody>
</table>

<button class="btn btn-default btn-sm {{nodes.length == max || 'disabled'}}"
        ng-click="loadMoreResults()">
    {{'showMoreResults' | translate | capitalize}}
</button>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{nodes | json}}</pre>
</div>
