<ol class="breadcrumb">
  <li><a ng-href="#/">{{'termed' | translate}}</a></li>
  <li class="active">
    {{graph.properties.prefLabel | localizeValue}}
  </li>
</ol>

<div class="pull-right">
  <a class="btn btn-link btn-xs btn-default" ng-href="#/graphs/{{graph.id}}/nodes-all">
    <span class="glyphicon glyphicon-list"></span>
    {{'allNodes' | translate | capitalize}}
  </a>

  <div class="btn-group">
    <button class="btn btn-link btn-xs btn-default dropdown-toggle" type="button" id="export-menu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-download-alt"></span>
      {{'download' | translate | capitalize}} {{'all' | translate }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="export-menu">
      <li><a ng-href="api/graphs/{{graph.id}}/nodes?max=-1" type="application/json">JSON</a></li>
      <li><a ng-href="api/graphs/{{graph.id}}/nodes.ttl?download=true" type="text/turtle">RDF</a></li>
      <li><a ng-href="api/graphs/{{graph.id}}/nodes.csv" type="text/csv">CSV (UTF-8)</a></li>
      <li><a ng-href="api/graphs/{{graph.id}}/nodes.csv?delimiter=SEMICOLON&lineBreak=CRLF&quoteAll=true&charset=ISO-8859-1" type="text/csv">CSV (Excel, ISO-8859-1)</a></li>
    </ul>
  </div>
</div>

<h1 class="page-header">
  {{graph.properties.prefLabel | localizeValue}}
</h1>
<div class="page-header-info">
  <span ng-if="graph.properties.description">
    {{graph.properties.description | localizeValue}}<br>
  </span>
  <small class="text-muted">{{graph.uri || '-'}}</small>
</div>

<ul class="nav nav-tabs types">
  <li role="presentation" class="active" data-toggle="tooltip" data-placement="top"
      title="{{'all' | translate | capitalize}}" thl-tooltip>
    <a class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-home"></span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a ng-href="#/graphs/{{graph.id}}/nodes/">{{'allNodes' | translate | capitalize}}</a>
      </li>
      <li>
        <a ng-href="#/graphs/{{graph.id}}/types/">{{'typeList' | translate | capitalize}}</a>
      </li>
      <li role="separator" class="divider"></li>
      <li ng-repeat="cls in types">
        <a ng-href="#/graphs/{{graph.id}}/types/{{cls.id}}/nodes/">
          {{cls.properties.prefLabel | localizeValue:cls.id}}
        </a>
      </li>
    </ul>
  </li>
  <li role="presentation" class="{{t.id == type.id && 'active'}}" ng-repeat="t in types"
      data-toggle="tooltip" data-placement="top"
      title="{{t.properties.prefLabel | localizeValue:t.id}}" thl-tooltip>
    <a ng-href="#/graphs/{{t.graph.id}}/types/{{t.id}}/nodes/">
      <span ng-if="$index < 3">
        {{t.properties.prefLabel | localizeValue:t.id | limit:12}}
      </span>
      <span ng-if="$index >= 3">
        {{t.id == type.id ? (t.properties.prefLabel | localizeValue:t.id) : '&bull;' | limit:12}}
      </span>
    </a>
  </li>
</ul>

<br>

<div class="row">
  <div class="col-md-10 col-sm-8">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <input class="form-control" ng-model="query"
             ng-change="searchNodes(query)" ng-model-options="{debounce: 250}"
             placeholder="{{'search' | translate | capitalize}}" type="text">
    </div>
  </div>
  <div class="col-md-2 col-sm-4">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" id="add-menu"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-plus"></span>
          {{'addNew' | translate | capitalize}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="add-menu">
          <li ng-repeat="cls in types">
            <a ng-click="newNode(cls)">
              {{cls.properties.prefLabel | localizeValue:cls.id}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>

<div class="panel panel-default">

  <div class="panel-heading panel-heading-sm">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="panel-title panel-title-sm">
          {{'results' | translate | capitalize}}: {{count}}
        </h2>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-link btn-xs {{showAllFields || 'disabled'}}"
                ng-click="showAllFields = false">
          {{'asTable' | translate}}
        </button>
        <span class="text-muted">|</span>
        <button class="btn btn-link btn-xs {{!showAllFields || 'disabled'}}"
                ng-click="showAllFields = true">
          {{'expanded' | translate}}
        </button>
        <span class="text-muted">|</span>
        <div class="btn-group dropdown">
          <button class="btn btn-link btn-xs btn-default dropdown-toggle" type="button" id="export-filtered-menu"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-download-alt"></span>
            {{'download' | translate}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="export-filtered-menu">
            <li><a ng-href="api/graphs/{{graph.id}}/node-trees?{{whereStr}}&select=*&max=-1" type="application/json">JSON</a></li>
            <li><a ng-href="api/graphs/{{graph.id}}/nodes.csv?{{whereStr}}" type="text/csv">CSV (UTF-8)</a></li>
            <li><a ng-href="api/graphs/{{graph.id}}/nodes.csv?{{whereStr}}&delimiter=SEMICOLON&lineBreak=CRLF&quoteAll=true&charset=ISO-8859-1" type="text/csv">CSV (Excel, ISO-8859-1)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <table class="table" ng-if="!showAllFields">
    <thead class="text-muted">
    <tr>
      <th>
        <small>{{'label' | translate | capitalize}}</small>
      </th>
      <th width="20%">
        <small>{{'type' | translate | capitalize}}</small>
      </th>
      <th width="20%">
        <small>{{'code' | translate | capitalize}}</small>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="node in nodes">
      <td>
        <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}"
           title="{{node.uri}}">
          {{node.properties | localizeAnyValue:'prefLabel'}}
        </a>
      </td>
      <td>
        <small>
          <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes"
             class="text-muted">
            {{typesById[node.type.id].properties.prefLabel | localizeValue:node.type.id}}
          </a>
        </small>
      </td>
      <td>
        <small>
          <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}"
             title="{{node.uri}}"
             class="text-muted">
            {{node.code}}
          </a>
        </small>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="panel-body" ng-if="showAllFields" ng-repeat="node in nodes"
       style="border-bottom: thin dotted #ddd;">
    <h3 style="margin-top:12px">
      <small>{{typesById[node.type.id].properties.prefLabel | localizeValue:node.type.id}}</small>
      <br>
      <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}">
        {{node.properties.prefLabel | localizeValue}}
      </a>
    </h3>

    <div class="text-muted" style="margin: -10px 0 10px 0;">
      <small>{{node.uri}}</small>
      <small>{{node.code}}</small>
      <small ng-if="!node.code && !node.uri">-</small>
    </div>

    <div ng-repeat="textAttr in typesById[node.type.id].textAttributes">
      <dl ng-if="node.properties[textAttr.id]">
        <dt>{{textAttr.properties.prefLabel | localizeValue:textAttr.id | capitalize}}</dt>
        <dd>
          <div ng-repeat="langValue in node.properties[textAttr.id]">
            <code class="text-muted">{{langValue.lang}}</code> {{langValue.value}}
          </div>
        </dd>
      </dl>
    </div>

    <div ng-repeat="refAttr in typesById[node.type.id].referenceAttributes">
      <dl ng-if="node.references[refAttr.id].length > 0">
        <dt>{{refAttr.properties.prefLabel | localizeValue:refAttr.id | capitalize}}</dt>
        <dd>
          <div ng-repeat="n in node.references[refAttr.id]">
            <a ng-href="#/graphs/{{n.type.graph.id}}/types/{{n.type.id}}/nodes/{{n.id}}"
               title="{{n.uri}} {{n.code}}">
              &rarr;
              {{n.properties.prefLabel | localizeValue:('unnamed' | translate)}}
            </a>
          </div>
        </dd>
      </dl>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-6">
    <button class="btn btn-default btn-sm {{nodes.length == max || 'disabled'}}"
            ng-click="loadMoreResults()">
      {{'showMoreResults' | translate | capitalize}}
    </button>
  </div>
  <div class="col-xs-6 text-right">
    <button class="btn btn-link btn-xs"
            ng-show="nodes.length == max"
            ng-click="loadAllResults()">
      {{'showAllResults' | translate | capitalize}} ({{count}})
    </button>
  </div>
</div>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
  <pre>{{nodes | json}}</pre>
</div>
