<ol class="breadcrumb">
    <li><a ng-href="#/">{{'termed' | translate}}</a></li>
    <li><a ng-href="#/graphs/{{node.type.graph.id}}/{{graph.properties.configGraphHomeLayout[0].value || 'nodes'}}">
        {{graph.properties.prefLabel | localizeValue}}
    </a></li>
    <li><a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes">
        {{type.properties.prefLabel | localizeValue:type.id}}
    </a></li>
    <li class="active">
        {{node.properties.prefLabel | localizeValue:('unnamed' | translate)}}
    </li>
</ol>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding-top: 5px; padding-bottom: 5px">
                {{'hierarchy' | translate | capitalize}}
            </div>
            <div style="overflow:hidden" class="panel-body">
                <thl-node-tree node="node" type="type"></thl-node-tree>
            </div>
        </div>
    </div>
    <div class="col-sm-8">

        <div>
            <a class="btn btn-sm btn-default"
               ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}/edit">
                <span class="glyphicon glyphicon-edit"></span>
                {{'edit' | translate | capitalize}}
            </a>
        </div>

        <h1 class="page-header">
            <small>{{type.properties.prefLabel | localizeValue:type.id}}</small>
            <br>
            {{node.properties.prefLabel | localizeValue:('unnamed' | translate)}}
        </h1>

        <div class="text-muted page-header-info">
            <small>{{node.uri}}</small>
            <small>{{node.code}}</small>
            <small ng-if="!node.code && !node.uri">-</small>
        </div>

        <thl-node-properties node="node"></thl-node-properties>

        <thl-node-references node="node"></thl-node-references>

        <thl-node-referrers node="node"></thl-node-referrers>

        <hr>

        <thl-node-revisions node="node"></thl-node-revisions>

    </div>
</div>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{node | json}}</pre>
</div>

