<ol class="breadcrumb">
    <li><a ng-href="#/">{{'termed' | translate}}</a></li>
    <li><a ng-href="#/graphs/{{node.type.graph.id}}/nodes">
        {{graph.properties.prefLabel | localizeValue}}
    </a></li>
    <li><a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes">
        {{type.properties.prefLabel | localizeValue:type.id}}
    </a></li>
    <li>
        <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}">
            {{node.properties.prefLabel | localizeValue:('unnamed' | translate)}}
        </a>
    </li>
    <li class="active">{{'edit' | translate}}</li>
</ol>

<div class="row">
    <div class="col-xs-8">
        <button class="btn btn-sm btn-success" ng-click="save()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            {{'save' | translate | capitalize}}
        </button>
    </div>

    <div class="col-xs-4 text-right">
        <button class="btn btn-sm btn-danger" ng-click="remove()">
            <span class="glyphicon glyphicon-trash"></span>
            {{'remove' | translate | capitalize}}
        </button>
    </div>
</div>

<div class="alert alert-danger" role="alert" ng-show="error">
    <span class="glyphicon glyphicon-alert"></span> {{error}}
</div>

<h1 class="page-header">
    <small>{{type.properties.prefLabel | localizeValue}}</small>
    <br>
    {{node.properties.prefLabel | localizeValue:('unnamed' | translate)}}
</h1>

<div class="row text-muted page-header-info">
    <div class="col-sm-6">
        <small>
            {{'updated' | translate | capitalize}}
            {{node.lastModifiedDate | date:'d.M.yyyy HH:mm:ss'}} /
            {{node.lastModifiedBy}}
        </small>
    </div>
    <div class="col-sm-6 text-right">
        <small>
            {{'added' | translate | capitalize}}
            {{node.createdDate | date:'d.M.yyyy HH:mm:ss'}} /
            {{node.createdBy}}
        </small>
    </div>
</div>

<form role="form">

    <div class="form-group">
        <label>URI</label>

        <input type="text" class="form-control" ng-model="node.uri">
    </div>

    <div class="form-group">
        <label>{{'code' | translate | capitalize}}</label>

        <input type="text" class="form-control" ng-model="node.code">
    </div>

    <thl-node-properties-edit node="node"></thl-node-properties-edit>

    <thl-node-references-edit node="node"></thl-node-references-edit>

</form>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{node | json}}</pre>
</div>
