<ol class="breadcrumb">
    <li><a ng-href="#/">{{'termed' | translate}}</a></li>
    <li><a ng-href="#/graphs/{{node.type.graph.id}}/{{graph.properties.configGraphHomeLayout[0].value || 'nodes'}}">
        {{graph.properties.prefLabel | localizeValue}}
    </a></li>
    <li><a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes">
        {{type.properties.prefLabel | localizeValue:type.id}}
    </a></li>
    <li><a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}">
        {{node.properties.prefLabel | localizeValue:('unnamed' | translate)}}
    </a></li>
    <li class="active">
        r{{revision}}
    </li>
</ol>


<div class="row">
    <div class="col-sm-4">
        <thl-node-revisions node="node" revision="{{revision}}"></thl-node-revisions>
    </div>
    <div class="col-sm-8">

        <div class="alert alert-info" role="alert">
            <div class="row">
                <div class="col-xs-6">
                    {{'revisionViewNote' | translate | capitalize}} <code>r{{revision}}</code>.
                </div>
                <div class="col-xs-6 text-right">
                    <a ng-href="#/graphs/{{node.type.graph.id}}/types/{{node.type.id}}/nodes/{{node.id}}">
                        <strong>{{'toCurrentVersion' | translate | capitalize}} &raquo;</strong>
                    </a>
                </div>
            </div>
        </div>

        <h1 class="page-header">
            <small>{{type.properties.prefLabel | localizeValue:type.id}}</small>
            <br>
            {{node.properties.prefLabel | localizeValue:('unnamed' | translate)}}
        </h1>

        <div class="text-muted page-header-info">
            <small>{{node.uri}}</small>
            <small>{{node.code}}</small>
            <small ng-if="!node.code && !node.uri">-</small>
        </div>


        <thl-node-properties node="node"></thl-node-properties>

        <thl-node-revision-references node="node" revision="{{revision}}"></thl-node-revision-references>

    </div>
</div>

<hr>

<span class="label label-default" ng-click="showJson = !showJson">json</span>

<div ng-show="showJson">
    <pre>{{node | json}}</pre>
</div>

